<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.nameD}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/links/add" class="btn btn-primary m-4">
                        Registra a tus pacientes
                    </a>
                </div>
                <div class="wrapper">
                    <a href="/links/"><i class="fab fa-dribbble"></i>
                        <h2>{{linksle}}</h2>
                        <h2>pacientes registrados</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>